/* Trae una fuente estilo pixel art */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Quita los márgenes y espacios por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajusta el tamaño de los elementos */
}

/* Fondo y estilo general del cuerpo */
body {
    font-family: 'Press Start 2P'; /* Fuente pixel art */
    background: url('../Assets/img/Register-Login.jpg') no-repeat; /* Imagen de fondo */
    background-size: cover; /* Imagen ocupa toda la pantalla */
    color: #fff; /* Texto blanco */
    height: 100vh; /* Altura de toda la pantalla */
}

/* Título principal */
header {
    text-align: center; /* Centra el texto */
    padding-top: 30px; /* Espacio arriba */
}

h1 {
    font-size: 1.5rem; /* Tamaño del texto */
    text-shadow: 2px 2px 4px #000; /* Sombra negra */
}

/* Caja del formulario */
.box {
    background-color: rgba(0, 0, 0, 0.322); /* Fondo negro transparente */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 350px; /* Ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 100px; /* Espacio arriba */
    text-align: center; /* Centra el texto */
    backdrop-filter: blur(5px); /* Fondo desenfocado */
}

/* Texto dentro de la caja */
.box p {
    margin: 15px 0; /* Espacio entre textos */
    font-size: 0.8rem; /* Tamaño del texto */
}

/* Formulario */
.form {
    margin-bottom: 15px; /* Espacio abajo */
    text-align: left; /* Texto alineado a la izquierda */
}

/* Etiquetas del formulario */
label {
    margin-bottom: 5px; /* Espacio abajo */
    font-size: 0.8rem; /* Tamaño del texto */
}

/* Campos de texto */
input {
    width: 100%; /* Ocupa todo el ancho */
    padding: 8px; /* Espacio interno */
    margin-bottom: 5px; /* Espacio abajo */
    font-family: 'Press Start 2P'; /* Fuente pixel art */
    font-size: 0.7rem; /* Tamaño del texto */
    background-color: transparent; /* Fondo transparente */
    border: 2px solid white; /* Borde blanco */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Texto blanco */
}

/* Enlaces */
a {
    color: #00f; /* Azul */
    text-decoration: none; /* Sin subrayado */
}

/* Enlace al pasar el mouse */
a:hover {
    color: white; /* Cambia a blanco */
}

/* Botones */
button {
    font-family: 'Press Start 2P'; /* Fuente pixel art */
    background-color: #333; /* Fondo gris oscuro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Tamaño del botón */
    font-size: 0.8rem; /* Tamaño del texto */
    margin-top: 10px; /* Espacio arriba */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
}

/* Botón al pasar el mouse */
button:hover { 
    background-color: transparent; /* Fondo transparente */
    border: 2px solid white; /* Borde blanco */
}