<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalla</title>
    <link rel="stylesheet" href="../Css/Batalla.css">
</head>
<body>
    <header>
        <h1>Elige tu Pokémon</h1>
    </header>

    <!--Pokimones disponibles-->
    <div class="pokimones">

        <!--Pokimon #1-->
        <div class="pokimon1">
            <img src="../Assets/img/Pikachu.gif" alt="Pokimon1" class="pokimon">
            <ul>
                <li><h3>Nombre: Pikachu</h3></li>
                <li>Tipo: Eléctrico</li>
                <li>Ataque: 75</li>
                <li>Defensa: 45</li>
                <li>Habilidad: Electricidad</li>
                <li>Evolución: Raichu</li>
            </ul>
            <button class="btn" id="btnPikachu">Seleccionar</button>
        </div>

        <!--Pokimon #2-->
        <div class="pokimon2">
            <img src="../Assets/img/Charmander.gif" alt="Pokimon2" class="pokimon">
            <ul>
                <li><h3>Nombre: Charmander</h3></li>
                <li>Tipo: Fuego</li>
                <li>Ataque: 62</li>
                <li>Defensa: 43</li>
                <li>Habilidad: Mar de llamas</li>
                <li>Evolución: Charmeleon</li>
            </ul>
            <button class="btn" id="btnCharmander">Seleccionar</button>
        </div>

        <!--Pokimon #3-->
        <div class="pokimon3">
            <img src="../Assets/img/Squirtle.gif" alt="Pokimon3" class="pokimon">
            <ul>
                <li><h3>Nombre: Squirtle</h3></li>
                <li>Tipo: Agua</li>
                <li>Ataque: 48</li>
                <li>Defensa: 70</li>
                <li>Habilidad: Torrente de agua</li>
                <li>Evolución: Wartortle</li>
            </ul>
            <button class="btn" id="btnSquirtle">Seleccionar</button>
        </div>

        <!--Pokimon #4-->
        <div class="pokimon4">
            <img src="../Assets/img/Bulbasaur.gif" alt="Pokimon4" class="pokimon">
            <ul>
                <li><h3>Nombre: Bulbasaur</h3></li>
                <li><p>Tipo: Planta/Veneno</p></li>
                <li>Ataque: 49</li>
                <li>Defensa: 49</li>
                <li>Habilidad: Espora venenosa</li>
                <li>Evolución: Ivysaur</li>
            </ul>
            <button class="btn" id="btnBulbasaur">Seleccionar</button>
        </div>
    </div>

    <!--<script src="../Js/Batalla.js"></script>-->
</body>
</html>
