<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona de entrenamiento</title>
    <link rel="stylesheet" href="../Css/Entrenamiento.css">
</head>
<body>
    <header>
        <h1>Empieza a entrenar tu pokimon</h1>
    </header>

    <!--Seleccionamiento pokimon-->
    <div class="container">
        <main>
            <p>Selecciona tu pokimon para comenzar con el entrenamiento</p>
            <select>
                <option>Pikachu</option>
                <option>Charmander</option>
                <option>Bulbasaur</option>
                <option>Squirtle</option>
            </select>
            <br>
            <button>Comenzar entrenamiento</button>
        <!--Entrenamiento-->
            <div class="trainer">
                <div class="buttons">
                    <!--Tipos de entrenamientos-->
                    <button class="btn">Ataque</button>
                    <button class="btn">Defensa</button>
                    <button class="btn">Habilidad</button>
                    <button class="btn">Evolución</button>
                </div>        
            </div>
        </main>
    </div>
</body>
</html>