<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro POKIMON</title>
    <link rel="stylesheet" href="../Css/login.css"> <!-- Puedes agregar el CSS de login aquí para que se vea igual -->
</head>
<body>
    <center>
    <header>
        <h1>BIENVENIDO AL MUNDO POKIMON</h1>
    </header>
    <div class="container">
        <p>Formulario de registro POKIMON</p>
        <hr>
        <div class="form">
            <label for="name">Name</label>
                <br>
            <input type="text" id="name" required>
                <br>
            <label for="email">Email</label>
                <br>
            <input type="email" id="email" required>
                <br>
            <label for="username">User</label>
                <br>
            <input type="text" id="username" required>
                <br>
            <label for="password">Contraseña</label>
                <br>
            <input type="password" id="password" required>
                <br>
            <label for="confirmPassword">Confirmar Contraseña</label>
                <br>
            <input type="password" id="confirmPassword" required>
                <br>
            <hr>
            <button type="submit" onclick="registrarse()" style="margin: 20px;">Registrar</button>
        </div>
    </div>
    </center>

    <script src="../Js/Registro.js"></script>
</body>
</html>
